  body {
      font-family: Georgia, 'Georgia', "Times New Roman", Times, serif;
      color: white;
      background-color: black;
      display: flex;
      flex-direction: column;
  }

  ul.navbar {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: black;
      z-index: 1000;
  }

  h1 {
      font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
      color: white;
  }

  ul.navbar li {
      display: inline-block;
      margin: 0.5em;
      padding: 0.3em;
      border: 1px solid white;
      border-radius: 10px;
  }

  ul.navbar a {
      text-decoration: none;
      color: white;
  }

  a:link {
      color: white;
  }

  a:visited {
      color: white;
  }

  address {
      margin-top: 1em;
      padding-top: 1em;
      border-top: thin dotted white;
  }

  section {
      margin: 10px;
      padding: 10px;
      background: black;
      color: white;
      border: 2px solid white;
      border-radius: 10px;
      box-shadow: 2px 5px 5px black;
      margin-top: 75px;
  }

  #txt{
    text-shadow: 2px 5px 5px black;
    border: 2px solid white;
  }

  #section1{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }

  #section2{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }

  #section3{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }

  #contact1{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }


  #sectionExp{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }  

  #sectionSAE1{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }  

  #sectionSAE2{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }  

  #sectionSAE3{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }

  #sectionSAE4{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }  

  #sectionSAE5{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }  

  #sectionSAE6{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }  

  #sectionCard{
    text-shadow: 2px 5px 5px #081723;
    border: 2px solid #242E35;
  }

  #codeFirst{
    height: 20px;
    width: 20px;
    border-radius: 10px;
  }

  .imageDisplay{
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }

  .jaugeDisplay{
    height: 25px;
    width: 250px;
    border-radius: 10px;
  }
